@font-face {
  font-family: bangers;
  src: url(../font/Bangers-Regular.ttf);
}

body {
  font-size: 20px;
  background-color: #17A6A6;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: bangers;
}

.crystal-count {
  margin-bottom: 10px;
}

.dig-btn {
  font-size:24px;
  color: #ffffff;
  background-color: #F24405;
  border-radius: 5px;
  padding: 5px 15px;
}

.dig-btn:hover {
  cursor: pointer;
  color: #000000;
  background-color: #F2CB05;
}

.shop-title {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

.buy-button {
  font-size: 16px;
  margin: 5px 0px;
  padding: 5px;
  width: 250px;
  border-radius: 5px;
}

.buy-button:not(.disabled):hover {
  cursor: pointer;
  color: #000000;
  background-color: #F2CB05;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.middle-column {
  margin: 0px 15px;
  min-width: 250px;
}

@media (max-width: 652px) {
  .middle-column {
    margin: 0px;
  }
}
